* {
    margin: 0;
    padding: 0;
}
.bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    position: relative;
    color: white;
}
.overlay {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
.header {
    font-family: fantasy;
    margin-top: 5%;
}
.navbar {
    position: relative;
}
.navbar-nav {
    position: absolute;
    right: 5%;
    font-family: monospace;

}
.nav-item a {
    color: #1a202c;
}
